<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>forgot password</title>
    <link rel="stylesheet" href="../css/index.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
        <script src="../js/url.js"></script>
    </head>
<body>
    <div class="row">
        <div class="col">
            <div class="form-control">
                <label for="memail">Email Address<input type="email" name="memail" id="memail"></label>
            </div>
            <button type="submit" class="btn" onclick="sendEmail()" id="send">send</button>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
    crossorigin="anonymous"></script>
    <script src="../js/httpRequest.js"></script>

    <script>
        function sendEmail()
        {
            var toem=$('#memail').val();
            getRequest(`${hostName}api/Emplyees/sentForgotPassEmail?toEmail=${toem}&emailData[0]=${localStorage.getItem("googleApp_MailAddress")}&emailData[1]=${ localStorage.getItem("googleApp_Password")}`,(res)=>{
                if(res == true)
                {
                    alert('email is sent');
                }else{
                    alert(`Email isn't sent. Make sure email is right and user is registered`);

                }
            },()=>{

            })
        }
    </script>
</body>
</html>