<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>home</title>
  
  <link rel="stylesheet" href="../css/index.css">
  <link rel="manifest" href="../manifest.webmanifest">
  <link rel="stylesheet" href="../libraries/datatables/jquery.dataTables.min.css">
  <link href="../libraries/bootstrap/jsdeliver.bootstrap.min.css" rel="stylesheet"
    >
  <link rel="stylesheet" href="../libraries/fontawesome_all.css" />
  <script src="../js/url.js"></script>
  <script src="../js/SweetAlert.js"></script>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="navbar-inner" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#" id="homeHref">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="addEmployee.html" id="addEmpHref">Employees</a>
        </li>
        <!-- <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li> -->
        <li class="nav-item">
          <a class="nav-link" href="addLocation.html" id="addLocHref"> Locations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="roles.html" id="addLocHref">roles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="logout">logout</a>
        </li>

      </ul>

  </nav>
  <div class="container-fluid m-2">
    <div class="row">

      <div class="row">
   
          <label for="empName">Employee Name</label>
        <input type="text" onchange="getEmpsData();" name="empName" placeholder="Search by name" id="empName"
          class="form-control " />
        
        </div>


      <div class="row">
        <div class="col">
          <label for="fromdate">from
          <input type="date" onchange="getEmpsData();" name="fromdate" id="fromdate" class="form-control" />
        </label> </div>
        <div class="col">
          <label for="todate">to
          <input type="date" name="todate" onchange="getEmpsData();" id="todate" class="form-control" />
        </label></div>
        <div class="col">
          <label for="period">period
          <select name="period" class="form-control" onchange="getEmpsData();" id="period">
            <option value="day">per day</option>
            <option value="month">per month</option>
            <option value="year">per year</option>
          </select>
        </label>
        </div>
      </div>
      <hr>
      <div class="row">

        <table id="employeesTableTimeable" class="display nowrap">
          <thead>
            <tr>
              <th>address</th>
              <th> name</th>
              <th>Phone</th>
              <th>email</th>
              <th>from</th>
              <th>to</th>
              <th>تاخير (بالدقايق)</th>
              <th>زيادات (بالدقايق)</th>
              <th>total hours</th>
              <th>date</th>

            </tr>
          </thead>
          <tbody id="eTBody">

          </tbody>
        </table>
      </div>
    </div>
  </div>
  </div>

  <script src="../libraries/jquery/jquery-3.6.0.min.js"
   ></script>
  <script src="../libraries/bootstrap/jsdelivery.bootstrap.bundle.min.js"
   ></script>
  <script src="../libraries/datatables/jquery.dataTables.min.js"></script>
  <script src="../libraries/jszip.min.js"></script>
  <script src="../libraries/pdfmake.min.js"></script>
  <script src="../libraries/vfs_fonts.js"></script>
  <script src="../libraries/datatables/dataTables.button.min.js"></script>
  <script src="../libraries/datatables/buttons.html5.min.js"></script>
  <script src="../libraries/datatables/buttons.print.min.js"></script>
  <script src="../js/httpRequest.js"></script>
  <script src="../js/storagedata.js"></script>
  <script src="../js/index.js"></script>

</body>

</html>