<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../css/index.css">
    <link href="../libraries/bootstrap/jsdeliver.bootstrap.min.css" rel="stylesheet"/>
  <link rel="stylesheet" href="../libraries/fontawesome_all.css" />
        <script src="../js/url.js"></script>
    </head>
<body>
    <div class="container">
        <div class="row">
            <div class="col m-auto">
                <div class="form-group"><label for="empCode">Code:</label><input type="text" name="empCode" id="empCode" class="form-control"></div>
                <div class="form-group"><label for="password">Password:</label><input type="password" name="password" id="password" class="form-control"></div>
                <button type="submit" class="btn btn btn-outline-secondary" id="login">login</button>
                <div class="row"> 
                    <a href="forgotPassword.html"> forgot password?</a>
                </div>
            </div>
        </div>
    </div>
    <script src="../libraries/jquery/jquery-3.6.0.min.js"
    ></script>
   <script src="../libraries/bootstrap/jsdelivery.bootstrap.bundle.min.js"
    ></script>
    <script src="../js/httpRequest.js"></script>
    <script src="../js/login.js"></script>

</body>
</html>