<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>locations</title>
    <link href="../libraries/bootstrap/jsdeliver.bootstrap.min.css" rel="stylesheet"
    >


</head>

<body>

    <div class="col">
        <div class="row m-2 text-right">
            <a href="index.html"><il>X</il></a>
        </div>
        <div class="row m-2">
            <div class="col-sm-2">Email address</div>
            <div class="col"><input type="email" id="email" class="form-control"></div>
            <div class="col"><button class="btn btn-success" id="saveEmail" onclick="saveItemsInLocStorage('googleApp_MailAddress',$('#email').val())">save</button></div>
        </div>
        <div class="row m-2">
            <div class="col-sm-2">Google App Password (not account password)</div>
            <div class="col"><input type="password" id="password" class="form-control"></div>
            <div class="col"><button class="btn btn-success" id="savePassword"  onclick="saveItemsInLocStorage('googleApp_Password',$('#password').val())">save</button></div>

        </div>
        <div class="row m-2">
            <div class="col-sm-2">Google Api Key</div>
            <div class="col"><input type="text" id="apikey" class="form-control"></div>
            <div class="col"><button class="btn btn-success" id="saveApiKey" onclick="saveItemsInLocStorage('googleMap_apiKey',$('#apikey').val())">save</button></div>

        </div>
        <div class="row m-2 ">
            <div class="col-sm-2">IP Address</div>
            <div class="col"><input type="text" id="IPAddressv" class="form-control"></div>
            <div class="col"><button class="btn btn-success" id="saveIPAddress" onclick="saveItemsInLocStorage('IPAddress',$('#IPAddressv').val())">save</button></div>

        </div>
    </div>
    <script src="../libraries/jquery/jquery-3.6.0.min.js"
    ></script>
   <script src="../libraries/bootstrap/jsdelivery.bootstrap.bundle.min.js"
    ></script>
    <script src="../js/url.js"></script>
    <script src="../js/httpRequest.js"></script>
        <script src="../js/storagedata.js"></script><script>
    function saveItemsInLocStorage(key,value)
    {
        putRequest(hostName+"api/MyKeys/1",{myKeys:{id:"1",[key]:value}},function(res){

            if(value!= null && value.trim() !="")
            {
            
            localStorage.setItem(key,value);
            }
            else{
                alert("value can't be empty");
            }
        },function(res){

        })

    }
</script>
</body>

</html>